.accordion_content {
    padding: 10px;
    background-color: #c4e8fd;
    height: 300px;
    width: 810px;
    overflow: hidden;
    zoom: 1;
}

.same_offset {
    float: left;
    overflow: hidden;
    zoom: 1;
}

.same_open {
    height: 250px;
    width: 30px;
    cursor: pointer;
    text-align:center;
    font-size: 14pt;
    padding-top: 50px;
    margin: 0 5px;
}

.same_open span {
    text-align: center;
    font-weight: normal;
    font-size: 16pt;

    writing-mode: vertical-lr;
    text-orientation: sideways;
    transform: rotate(180deg);
}

.same_open_content {
    width: 0;
    height: 300px;
}

.open_content { width: 650px; }

.same_open_content img {
    width: 120px;
    height: 100%;
    float: left;
}

.open_article { margin: 10px 20px 10px 140px; }

.open_article h1 {
    margin: 10px 0px;
    font-size: 16pt;
    font-weight: normal;
    color: #444444;
}

.open_article p {
    font-size: 12pt;
    line-height: 20px;
    color: #666666;
}
