/* style reset */
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 99%;
    height: 99%;
    font-family: 'Ubuntu', 'Helvetica', 'sans-serif';
}

/* style */
h1 {
    margin: 10px;
}

body {
    padding: 10px;
}

#header {
    width: 100%;
    height: 150px;
    background-image: url("../bilder/header_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#nav {
    margin: 25px;
    text-align: center;
}

#nav ul {

}

#nav a {
    display: inline;
    padding: 10px;
    letter-spacing: 0.5em;
    transition: 0.25s;
}

#nav a:hover {
    background-color: #0f92bd;
    transition: 0.5s;
}

#content {
    height: 60%;
    overflow: scroll;
}

.content-frame {
    border: 3px solid #245f8b;
    border-radius: 10px;
    padding: 10px;
}

.leseproben {
    list-style-image: url("../bilder/links_icons.jpg");
    font-size: 12pt;
}

table {
    color: white;
}

th {
    background-color: #245f8b;
    padding: 5px;
    margin: 3px;
}

td {
    background-color: #c4e8fd;
    vertical-align: top;
    padding: 5px;
    margin: 3px;
}

table a {
    display: block;
    padding: 5px;
    margin: 3px;
    color: white;
    text-decoration: none;
}

table a:nth-child(odd) { background-color: #009dc1
}
table a:nth-child(even) { background-color: #0f72bd
}